/* .react-calendar {
  width: 100%;
  height: 100%;
  border: none;
}
.react-calendar button {
  border-top: 1px solid #e2e2e2;
}
.react-calendar__navigation button {
  border: none;
}
.react-calendar__viewContainer {
  height: calc(100% - 60px);
}
.react-calendar__month-view,
.react-calendar__month-view > div,
.react-calendar__month-view > div > div {
  height: 100%;
}

.react-calendar__month-view__days {
  height: calc(100% - 30px);
}
.react-calendar__tile {
  display: flex;
  justify-content: center;
  align-items: start;
  font-size: 13px;
}
.react-calendar__tile--now:enabled:hover,
.react-calendar__tile--now:enabled:focus,
.react-calendar__tile--active,
.react-calendar__tile--now {
  background-color: transparent;
}
.react-calendar__tile--now {
  position: relative;
  abbr {
    position: relative;
    z-index: 10;
  }
  &::before {
    content: '';
    display: block;
    z-index: 5;
    position: absolute;
    top: 7px;
    left: 50%;
    width: 25px;
    height: 25px;
    transform: translateX(-50%);
    border-radius: 50%;
    background-color: lightblue;
  }
} */
.fc-daygrid-day-top {
  justify-content: center;
}
